.#{$app-prefix} {
  &traits-label {
    border-bottom: 1px solid $mainDkColor;
    font-weight: lighter;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
  }

  &label {

  }

  &field {

    &-wrp {
      width: 100%;
      &>*{
        width: 100%;
      }
    }
  }
}

.#{$trt-prefix}title {
  @extend .#{$app-prefix}category-title;
    display: flex;
    align-items: center;
}
.#{$trt-prefix}{
  &title {
    &-caret, &-icon {
      width: 48px;
      text-align: center;
      color: #737373;
      div {
        margin: 16px 0;
      }
    }

    &-icon {
      background-color: #FAFAFA;
    }

    &-label {
      margin-left: 8px;
      flex-grow: 1;
      color: #4A4A4A;
      font-weight: bold;
    }

    &:not(.open)+.#{$trt-prefix}traits {
      display: none;
    }
  }
}

.open {
  .#{$trt-prefix}{
    &title {
      &-icon {
        background-color: #0092DB;
        color: white;
      }
      &-caret {
        transform: scaleY(-1);
        color: #0092DB;
      }
    } 
  }
}

.#{$trt-prefix}header {
  display: none;
}
.#{$trt-prefix}trait {
  display: block;
  text-align: left;
  min-width: 74px;

  &s {
    background-color: #f2f2f2;
    padding: 16px 8px 24px 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    &:empty {
      display: none;
    }
  }

  .#{$app-prefix}label {
    text-align: left;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__wrp {
    width: 100%;
  }

  &.full {
    width: 100%;
  }
}
