.#{$app-prefix} {
  font-family: inherit;
}
.#{$trt-prefix}traits-title {
  @extend .#{$app-prefix}category-title
}

.#{$trt-prefix}header {
  padding: 10px;
}

.#{$trt-prefix}traits {
  &.open {
    @extend .#{$app-prefix}category-open;
    .#{$trt-prefix}traits-container {
      display: flex;
    }
  }
  &.empty {
    display: none;
  }
}

.#{$trt-prefix}traits-container {
  padding: 24px 8px;
  display: none;
  flex-direction: column;
  gap: 24px;
}

.#{$trt-prefix}trait {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  position: relative;
  &s {
    font-size: $fontSizeS;
  }
  
  .#{$app-prefix}label {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 16px;
  }

  .#{$app-prefix}field {
    flex: min-content;
  }
  .#{$app-prefix}icon {
    position: absolute;
    z-index: 2;
    height: 32px;
    width: 32px;
    color: $iconGrayDk;
    bottom: 0;

    &>* {
      padding: 9px;
    }

    &+.#{$app-prefix}field {
      select, input {
        padding-left: 40px;
      }
    }

    &+.#{$app-prefix}field-checkbox {
      margin-left: 40px;
    }
  }

  .#{$app-prefix}field-checkbox {
    .#{$app-prefix}input-holder {
      display: flex;
      position: relative;
      cursor: pointer;
      height: 32px;
      width: 25px;
      align-items: center;
      margin: 0 3.5px;
      input {
        display: none;
      }
    }
  }

  .#{$app-prefix}field-multiselect {
    select {
      height: 100%;
      position: absolute;
      min-height: 32px;
    }
    .#{$app-prefix}selected-options {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      z-index: 2;
      column-gap: 6px;
      row-gap: 4px;
      padding: 4px;
      margin-right: 24px;
      visibility: hidden;
    }
    .#{$app-prefix}selected-option {
      line-height: 14px;
      background-color: #E3E6E8;
      border-radius: 4px;
      padding: 4px;
      cursor: pointer;
      box-sizing: border-box;
      height: 24px;
      visibility: visible;
      user-select: none;

      i {
        pointer-events: none;
      }
      &:hover {
        i {
          color: $colorBlue;
        }
      }
    }

    .#{$app-prefix}d-s-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}