.#{$app-prefix}blocks-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f2f2f2;
  padding: 24px 8px;
}

.#{$app-prefix}block-categories {
  display: flex;
  flex-direction: column;
}

.#{$app-prefix}block-category {
  width: 100%;

  &.#{$app-prefix}open {
    @extend .#{$app-prefix}category-open;
    .#{$app-prefix}title{
      .#{$app-prefix}icon {
        background-color: #0092DB;
        color: white;
      }
      .#{$app-prefix}caret {
        transform: scaleY(-1);
        color: #0092DB;
      }
    }
  }

  .#{$app-prefix}title {
    @extend .#{$app-prefix}category-title;
    display: flex;
    align-items: center;

    .#{$app-prefix}icon, .#{$app-prefix}caret {
      width: 48px;
      text-align: center;
      color: #737373;
      div {
        margin: 16px 0;
      }
    }

    .#{$app-prefix}icon {
      background-color: #FAFAFA;
    }

    .#{$app-prefix}label {
      margin-left: 8px;
      flex-grow: 1;
      color: #4A4A4A;
      font-weight: bold;
    }

  }
}

.#{$app-prefix}block {
  @include user-select(none);

  width: 116px;
  height: 116px;
  padding: 0;
  color: #757575;
  gap: 4px;
  line-height: 56px;
  box-sizing: border-box;
  cursor: all-scroll;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background-color: #FDFDFD;
  border: 4px solid white;

  &:hover {
    color: #4A4A4A;
  }

  svg {
    fill: currentColor;
  }

  &__media {
    margin-bottom: 10px;
    pointer-events: none;
  }
}

.#{$app-prefix}block-svg {
  width: 54px;
  fill: currentColor;
}

.#{$app-prefix}block-svg-path {
  fill: currentColor;
}

.#{$app-prefix}block.fa {
  font-size: 2em;
  line-height: 2em;
  padding: 11px;
}

.#{$app-prefix}block-label {
  line-height: 16px;
  font-size: 14px;
  font-weight: normal;
  text-overflow: ellipsis;
  pointer-events: none;
}

.#{$app-prefix}block.#{$app-prefix}bdrag {
  width: auto;
  padding: 0;
}
