.#{$app-prefix} {
  font-family: inherit;
  &traits-label {
    border-bottom: 1px solid $mainDkColor;
    font-weight: lighter;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
  }

  &label {

    &-wrp {
      width: 100%;
    }
  }

  &field {

    &-wrp {
      flex: min-content;
      margin: 8px 0;
      box-sizing: border-box;
      height: 32px;
    }
  }
}

.#{$trt-prefix}header {
  padding: 10px;
}

.#{$trt-prefix}trait {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px 8px;
  align-items: center;
  text-align: left;
  &s {
    font-size: $fontSizeS;
  }
  
  .#{$app-prefix}label {
    width: 30%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
  }
  .#{$app-prefix}icon-wrp {
    position: absolute;
    z-index: 2;
    .#{$app-prefix}icon {
      height: 32px;
      width: 32px;
      color: $iconGrayDk;
  
      &>* {
        padding: 9px;
      }
    }
    &+.#{$app-prefix}field {
      select, input {
        padding-left: 40px;
      }
    }
  }
  &--checkbox {
    .#{$app-prefix}field-wrp {
      display: flex;
      align-items: center;
    }
    .#{$app-prefix}icon-wrp {      
      &+.#{$app-prefix}field {
        margin-left: 40px;
      }
    }
  }

  .#{$app-prefix}field {
    width: 70%;
  }
}

