.#{$pn-prefix} {
  &panel {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    z-index: 3;

    .icon-undo,
    .icon-redo {
      font-size: 20px;
      height: 30px;
      width: 25px;
    }
  }

  &commands {
    width: calc(100% - #{$leftWidth});
    right: 0;
    top: 0;
    box-shadow: 0 0 5px $mainDkColor;
  }

  &options {
    right: 0;
    top: 0;
  }

  &views {
    background-color: $iconBg;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.1);
    padding: 12px;
    left: 0;
    width: $leftWidth;
    height: $headerHeight;
    z-index: 4;

    &-container {
      height: 100%;
      padding: $headerHeight 0 0;
      left: 0;
      width: $leftWidth;
      overflow: overlay;
      overflow-x: hidden;
      box-shadow: 0 0 5px $mainDkColor;
      &>div {
        width: $leftWidth;
      }
    }

    .#{$pn-prefix}buttons {
      gap: 52px;
      .#{$pn-prefix}btn {
        width: 72px;
        height: 32px;
        margin: 0;
        font-size: 24px;
      }
    }
  }

  &buttons {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &btn {
    box-sizing: border-box;
    min-height: 30px;
    min-width: 30px;
    line-height: 21px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 4px;
    padding: 4px;
    position: relative;
    cursor: pointer;
    color: $iconGrayDk;

    &.#{$pn-prefix}active {
      background-color: white;
      color: $colorBlue;
    }
  }
  &devices-c {
    left: $leftWidth;
  }
}
